@font-face {
    font-family: "space-cloud";
    src:url('../../assets/font/NanumBarunGothicBold.ttf') format('truetype');
    src:url('../../assets/font/NanumBarunGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#purple_outline{
    
    //바깥 테두리 보라색 넣기
    /*
    position: fixed;
    right:0;
    width: 351px;
    height: 748px;
    border: 1px solid #7150D6;
    box-sizing: border-box;
    */

    @media(min-width: 768px) {
        
    }
}

.purple_stroke{
    display:flex;
    background-color: #7150D6;
    border: 2px solid #7150D6;

    @media(min-width: 768px) {
        display:none;
    }
}

.margin{
    margin : 0 20px;
    font-family:space-cloud;
}

.tap{
    display: flex;
    
    height:58px;
    align-items: center;

    .title{
        font-family:inherit;
        font-weight:bold;
        font-size:20px; //rem...
    }

    .right{
        display:flex;
        width:72px;
        position: absolute;
        right:0;
        margin-right: 16px;
        justify-content: space-evenly;
    
        .icon{
            margin-right: 8px;
        }
    }
}

.gray_stroke{
    border : 0.5px solid #DDDDDD;
    background: #DDDDDD;
}

#place{
    background-image: url("../../assets/images/detail_place_img_room.png");
    border-radius: 8px;

    width:100%;
    padding-top:44%;
    margin-top: 16px;
    margin-bottom: 16px;

    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.semi-title{
    font-family:inherit;
    font-weight:bold;
    font-size:17px;
}

.place_detail{
    font-family:inherit;
    font-weight:normal;
    font-size:14px;

    margin-top: 18px;
    margin-bottom: 32px;
    line-height: 160%;
}

.text{
    font-family:inherit;
    font-weight:normal;
    font-size: 14px;
    display:flex;
    margin: 12px 0;

    .gray{
        color : #909090;
    }

    .black{
        color:black;
        margin-left:40px;
    }
}

#purple_stroke_slim{
    position: relative;
    display:flex;
    border: 0.5px solid #7150D6;
    background-color: #7150D6;
    margin-top:32px;
}

#gray_stroke_middle{
    margin-bottom:19px;
    border : 0.5px solid #DDDDDD;
    background: #DDDDDD;
}

.option{
    margin-bottom:16px;
    font-family: inherit;
    font-weight: normal;
    font-size: 17px;
}

.radioBtn{
    
}